/.project   
/.settings
/.venv/
/.mvn/wrapper/dists/

*.jar
!lib/ipss_runnable.jar
!lib/deps/ipss.core.lib-1.0.16.jar
!lib/deps/ieee.odm.schema-1.0.1.jar
!lib/deps/ieee.odm_pss-1.0.1.jar

*.log
.DS_Store

/wspace/**/result/
/config/config.json
*.pyc
/.pytest_cache/

/CLAUDE.md
/GEMINI.md

/interpss-persistent.local-backup/

target/**/*.*
target/**/*
src/assembly/uber.xml
build/interpss-profile-patch.yml
